@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.body-form {
    margin: 0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #295A85, #244E74, #1E3555, #191F39);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.login-form
{
    background-color: #1E2A38;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.581);
    max-width: 500px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
    margin-top: 1rem;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10rem;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .login-form input:focus {
    border-color: #5c5ab0;
    outline: none;
  }


.forgot-password {
  color: #3E6B92;
  text-decoration: none;
}

